#文件
/RXCardGame/Assembly-CSharp-Editor-vs.csproj
/RXCardGame/Assembly-CSharp-Editor.csproj
/RXCardGame/Assembly-CSharp-vs.csproj
/RXCardGame/Assembly-CSharp.csproj
/RXCardGame/RXCardGame-csharp.sln
/RXCardGame/RXCardGame.sln
/RXCardGame/RXCardGame.userprefs
# 文件夹
/RXCardGame/Library/
/RXCardGame/obj/
/RXCardGame/Temp/
